<script type="text/javascript" src="__STATIC__ADMIN/hui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__STATIC__ADMIN/hui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__ADMIN/hui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__ADMIN/hui/static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__STATIC__ADMIN/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__ADMIN/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__ADMIN/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__ADMIN/js/common.js"></script> 
<!-- <script type="text/javascript" src="__STATIC__ADMIN/uploadify/jquery.uploadify.min.js"></script> -->

<!-- <script src="__STATIC__INDEX/uploadifive/jquery.min.js" type="text/javascript">
</script> -->
<script src="__STATIC__INDEX/uploadifive/jquery.uploadifive.min.js" type="text/javascript">
</script>

<script type="text/javascript" src="__STATIC__ADMIN/js/image.js"></script> 
<script>
	var SCOPE = {
		'uploadify_swf' : '__STATIC__ADMIN/uploadify/uploadify.swf',
		'image_upload' : '{:url('api/image/upload')}',
		'community_upload': '{:url('api/image/communitylogo')}',
	}
</script>