<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-user">
            <dt>
                <i class="Hui-iconfont">
                    
                </i>
                用户管理
                <i class="Hui-iconfont menu_dropdown-arrow">
                    
                </i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('roots/role')}" data-title="角色管理" href="javascript:void(0)">
                            角色管理
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('registered/account')}" data-title="账号管理" href="javascript:void(0)">
                            账号管理
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('registered/register')}" data-title="账号申请" href="javascript:void(0)">
                            账号申请
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('members/member')}" data-title="会员列表" href="javascript:void(0)">
                            会员列表
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('members/memberdel')}" data-title="已删除会员" href="javascript:void(0)">
                            已删除会员
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('admins/admin')}" data-title="管理员管理" href="javascript:void(0)">
                            管理员管理
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-community">
            <dt>
                <i class="Hui-iconfont">
                    
                </i>
                社团管理
                <i class="Hui-iconfont menu_dropdown-arrow">
                    
                </i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('communitys/index')}" data-title="社团申请" href="javascript:void(0)">
                            社团申请
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('communitysinfo/community')}" data-title="社团信息" href="javascript:void(0)">
                            社团信息
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('communitysinfo/communitycancel')}" data-title="社团注销" href="javascript:void(0)">
                            社团注销
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('communitysinfo/memberapply')}" data-title="会员申请" href="javascript:void(0)">
                            会员申请
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('communitysinfo/delapply')}" data-title="已删除会员申请" href="javascript:void(0)">
                            已删除申请
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt>
                <i class="Hui-iconfont">
                    
                </i>
                新闻管理
                <i class="Hui-iconfont menu_dropdown-arrow">
                    
                </i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('newss/index')}" data-title="新闻管理" href="javascript:void(0)">
                            新闻管理
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('newss/newsdelete')}" data-title="已删除资讯" href="javascript:void(0)">
                            已删除新闻
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt>
                <i class="Hui-iconfont">&#xe727;</i>
                活动管理
                <i class="Hui-iconfont menu_dropdown-arrow">
                    
                </i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('activitys/index')}" data-title="活动管理" href="javascript:void(0)">
                            待审活动
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('activitys/activitydelete')}" data-title="已删除活动" href="javascript:void(0)">
                            已删除活动
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('activitys/add')}" data-title="申请活动" href="javascript:void(0)">
                            申请活动
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('activitys/joinactivitylist')}" data-title="活动报名" href="javascript:void(0)">
                            活动报名
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt>
                <i class="Hui-iconfont">&#xe692;</i>
                意见反馈
                <i class="Hui-iconfont menu_dropdown-arrow">
                    
                </i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('views/index')}" data-title="活动管理" href="javascript:void(0)">
                            待查看
                        </a>
                    </li>
                    <li>
                        <a data-href="{:url('views/del')}" data-title="已删除活动" href="javascript:void(0)">
                            已删除
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('countsystem/community')}" data-title="统计" href="javascript:void(0)">社团信息统计</a></li>
                    <li><a data-href="{:url('countsystem/activity')}" data-title="统计" href="javascript:void(0)">活动信息统计</a></li>
                    <li><a data-href="{:url('countsystem/member')}" data-title="成员统计" href="javascript:void(0)">成员统计</a></li>
                    <!-- <li><a data-href="{:url('countsystem/relationship')}" data-title="关系图" href="javascript:void(0)">关系图</a></li> -->
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)">
    </a>
</div>
