{include file="public/meta" /}
</head>

<body>
    <div class="content" id="welcome">
        <div align="center" >
            <!--这是内容块  -->
            <div id="inside">
                <!--下面是头像和名称 -->
                <image class="user_avatar" src="__STATIC__INDEX/img/logo.png"></image>
                <div class="user_name"> Hello,小联！</div>
            </div>
            <a href="{:url('index/news')}" >
                <div class="moto-container">
                    <!--上面是链接框 -->
                    <div class="moto">
                        <p id="word">开启小联2.0</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>

</html>
