<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>你好 小联</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="sl.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__STATIC__INDEX/
css/sm.min.css">
    <link rel="stylesheet" href="__STATIC__INDEX/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__INDEX/css/style.css">

    <style type="text/css">
    .iconfont {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
    </style>
    
<link href="__STATIC__INDEX/uploadifive/uploadifive.css" rel="stylesheet" type="text/css">
<link href="__STATIC__INDEX/css/swiper.min.css" rel="stylesheet" type="text/css">
