<!--包含头部信息文件-->
{include file="public/meta" /}
<title>
    新增活动 - 活动管理 - H-ui.admin v3.0
</title>
<body>
    <article class="page-container">
        <form action="{:url('activitys/activity')}" class="form form-horizontal" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">
                        *
                    </span>
                    活动名称：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input class="input-text" id="activity_name" name="activity_name" placeholder="" type="text" value="">
                    </input>
                </div>
            </div>
           
                    
                        <input name="community_id" type="hidden" value="{$communityid}">
                           
                     
            
           
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">
                        *
                    </span>
                    活动摘要：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea class="textarea" cols="" datatype="*10-100" dragonfly="true" name="activity_abstract" nullmsg="" onkeyup="$.Huitextarealength(this,200)" placeholder="" rows="">
                    </textarea>
                    <p class="textarea-numberbar">
                        <em class="textarea-length">
                            0
                        </em>
                        /200
                    </p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">
                        *
                    </span>
                    活动地点：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input class="input-text" id="activity_location" name="activity_location" placeholder="" type="text" value="">
                    </input>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">
                        *
                    </span>
                    活动日期：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input class="date" id="activity_starttime" name="activity_starttime" onfocus="selecttime(1)" readonly="" size="17" type="text" value="">
                        -
                        <input class="date" id="activity_endtime" name="activity_endtime" onfocus="selecttime(2)" readonly="" size="17" type="text" value="">
                        </input>
                    </input>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">
                        *
                    </span>
                    活动海报：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input id="signup-idimage4" multiple="true" type="file" for="signup-idimage4">
                        <img height="150" id="upload_img" src="" style="display: none" width="150">
                            <input id="file_upload_image" multiple="true" name="activity_image" type="hidden" value="">
                            <div id="tip-queue4"></div>
                </div>
            </div>
              <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">
                        *
                    </span>
                    活动策划：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input id="signup-idimage5" multiple="true" type="file" for="signup-idimage5">
                       <!--  <img height="150" id="upload_img" src="" style="display: none" width="150"> -->
                            <input id="file_upload_cehua" multiple="true" name="activity_cehua" type="hidden" value="">
                            <div id="tip-queue5"></div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">
                        *
                    </span>
                    活动内容：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <script id="editor" style="width:100%;height:400px;" type="text/plain">
                    </script>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit">
                        <i class="Hui-iconfont">
                        </i>
                        上传
                    </button>
                    <button class="btn btn-default radius" onclick="layer_close();" type="button">
                        取消
                    </button>
                </div>
            </div>
        </form>
    </article>
</body>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer" /}
<!--/_footer /作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script src="__STATIC__ADMIN/hui/lib/My97DatePicker/4.8/WdatePicker.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/jquery.validation/1.14.0/jquery.validate.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/jquery.validation/1.14.0/validate-methods.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/jquery.validation/1.14.0/messages_zh.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/webuploader/0.1.5/webuploader.min.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/ueditor/1.4.3/ueditor.config.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/ueditor/1.4.3/ueditor.all.min.js" type="text/javascript">
</script>
<script src="__STATIC__ADMIN/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js" type="text/javascript">
</script>
<script type="text/javascript">
    function selecttime(flag){
    if(flag==1){
        var endTime = $("#countTimeend").val();
        if(endTime != ""){
            WdatePicker({dateFmt:'yyyy-MM-dd ',maxDate:endTime})}else{
            WdatePicker({dateFmt:'yyyy-MM-dd '})}
    }else{
        var startTime = $("#countTimestart").val();
        if(startTime != ""){
            WdatePicker({dateFmt:'yyyy-MM-dd ',minDate:startTime})}else{
            WdatePicker({dateFmt:'yyyy-MM-dd '})}
    }
 }
</script>
<script type="text/javascript">
    $(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    
    //表单验证
    $("#form-article-add").validate({
    
        
        
    });
    
    $list = $("#fileList"),
    $btn = $("#btn-star"),
    state = "pending",
    uploader;

    var uploader = WebUploader.create({
        auto: true,
        swf: '"__STATIC__ADMIN/hui/lib/webuploader/0.1.5/Uploader.swf',
    
        // 文件接收服务端。
        server: 'fileupload.php',
    
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',
    
        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false,
        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
            '<div id="' + file.id + '" class="item">' +
                '<div class="pic-box"><img></div>'+
                '<div class="info">' + file.name + '</div>' +
                '<p class="state">等待上传...</p>'+
            '</div>'
        ),
        $img = $li.find('img');
        $list.append( $li );
    
        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }
    
            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress-box .sr-only');
    
        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
        }
        $li.find(".state").text("上传中");
        $percent.css( 'width', percentage * 100 + '%' );
    });
    
    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).addClass('upload-state-success').find(".state").text("已上传");
    });
    
    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).addClass('upload-state-error').find(".state").text("上传出错");
    });
    
    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress-box').fadeOut();
    });
    uploader.on('all', function (type) {
        if (type === 'startUpload') {
            state = 'uploading';
        } else if (type === 'stopUpload') {
            state = 'paused';
        } else if (type === 'uploadFinished') {
            state = 'done';
        }

        if (state === 'uploading') {
            $btn.text('暂停上传');
        } else {
            $btn.text('开始上传');
        }
    });

    $btn.on('click', function () {
        if (state === 'uploading') {
            uploader.stop();
        } else {
            uploader.upload();
        }
    });
    
    var ue = UE.getEditor('editor');
    
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
